html
{
    box-sizing: border-box;
    font-size: 100%;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
h2
{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: normal;
}
body
{
    background-color: #060042;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(2%,#060042),color-stop(108%,#20A39E));
    background-image: linear-gradient(#060042 2%,#20A39E 108%);
    color: #ffffff;
    min-height: 150vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.logo
{
    width: 120px;
}
.featured
{
    background-color: #ffffff;
    color: #060042;
    font-weight: bold;
    position: relative;
}
.featured::before
{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #060042;
}
a 
{
    display: block;
    max-width: 400px;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 0.85rem;
    padding: 15px 20px;
    margin: 0 auto 15px auto;
    text-decoration: none;
}
.channels 
{
    max-width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}
.links
{
    flex: 1;
    padding: 5px, 10px;
}
.last
{
    flex: 1;
    padding: 5px, 10px;
    margin-right: 0px;
}